body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  padding:0 10px;
  color: #ffffff;
  background-color: #101010;
  font-family: palatino, serif;
}

nav a {
  color: #ffffff;
}

h1,h2,h3 {
  line-height:1.2
}
